@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Jersey+10&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/stars%202.gif);
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#DownloadButton {
    background-color: rgb(19, 218, 69);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Pixelify Sans, sans-serif";
    justify-content: center;
    margin-top: 15px;
    width: 300px;
    height: 50px;
}

#DownloadButtonPDF {
    background-color: rgb(221, 24, 24);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Pixelify Sans, sans-serif";
    justify-content: center;
    margin-top: 15px;
    width: 300px;
    height: 50px;
}

#pdfimg {
    justify-content: center;
    align-items: center;
}


/* CONTAINER PRINCIPAL */
.conteiner {
    width: 800px;
    height: 350px;
    padding: 20px;
    border: 2px solid white;
    background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/stars%202.gif);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.titulo,
.titulo2 {
    background: inherit;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    height: 51px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.lists {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.lists li a {
    color: white;
    text-decoration: none;
}

.content {
    text-align: center;
}

.titulocontent {
    margin-bottom: 10px;
}

.footer {
    background-image: url(Menu_principal\ \(2\).png);
    color: black;
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}


.conteiner-lateral {
    display: flex;
    background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/stars%202.gif);
    background-repeat: no-repeat;
    background-position: center bottom; /* Centralizado e no chão */
    height: 430px;
    width: 350px;
    border: 2px solid;
    margin-left: 1200px;
    margin-top: -320px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }


#pacmanghost {
    margin-top: 20px;
    width: auto;
}

