
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Jersey+10&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');

body {
    background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/stars%202.gif);
    margin: 0;
    height: 100vh; /* Garante que o body ocupa toda a altura da tela */
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center;
    position: relative; /* Necessário para posicionar o overlay dentro */
    overflow: hidden;/* Alinha verticalmente */
    font-family: "Pixelify Sans", sans-serif;
    color: white;
  }
  
  .conteiner {
    background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/stars%202.gif);
    height: 700px;
    width: 800px;
    border: 2px solid;
  }

  .conteiner-lateral {
    display: flex;
    background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/stars%202.gif);
    background-repeat: no-repeat;
    background-position: center bottom; /* Centralizado e no chão */
    height: 430px;
    width: 350px;
    border: 2px solid;
    margin-left: 900px;
    margin-top: -400px;
  }

  .tutorialkeys {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
  }
  
  
  .pacmanghost {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
  }

  .titulo {
    background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/stars%202.gif);
    height: 50px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
  }

  .videotrailer {
    margin-left: 120px;
  }

  .titulo2 {
    background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/stars%202.gif);
    height: 50px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  
  .nav {
    background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/stars%202.gif);
    height: 50px;
    width: 75%;
    margin-left: 100px;
    color: transparent;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin-bottom: 20px;
  }


  .lists {
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;      
    display: flex;        
    gap: 20px;             
    margin: 0;            
    padding: 0;  
    text-decoration: none;
    color: white;
    border-color: white; 
  }
  
  .lists li a:link,
  .lists li a:visited {
    color: white;
    text-decoration: none;
  }

  .titulocontent {
    margin-bottom: 10px;
}

  
  
  .pc {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .titulocontent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .content {
    margin: 20px;
    padding: 0;
  }